
<h2>MAKE A BUSINESS PROFILE</h2>
<% if @business.errors.any? %>
<div id='profile-errors'>
  <%@business.errors.full_messages.each do |message| %>
  <p><%= message %></p>
  <% end %>
</div>
<%end %>

<%= form_for @business do |f| %>


<div><%= f.label :name %>:</div>
<div><%= f.text_field :name %></div>
<div><%= f.label :about %>:</div>
<div><%= f.text_area :about, :rows => 7, style: 'width:80%;' %></div>
<div><%= f.label :location %>:</div>
<div><%= f.text_field :location %></div>
<div><%= f.label :phone %>:</div>
<div><%= f.phone_field :phone %></div>
<% Neighborhood.all.each do |neighborhood| %>
<%= radio_button_tag("neighborhood", "#{neighborhood.name}") %>
<%= label_tag(:neighborhood_name, "#{neighborhood.name}") %>
<% end %>
<br>
<%= f.submit %>
<% end %>
