<div>
  <div class='form-group text-center'>
    <h1>Find A Business</h1>

    <%= form_tag('businesses', :method => 'get', :id => 'search form') do %>
    Search: <%= text_field_tag :search%>
    <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>

  <% if !@businesses.blank? %>
  <table class="table">
  <tbody>
    <% @businesses.each do |business| %>
    <tr>
      <td><%= link_to business.name, business_path(business) %></td>
      <td><%= pluralize(business.events.count, 'event') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @businesses.blank? %>
<h4>There are no businesses containing the term <%= @search %></h4>
<% end %>

<br>
</div>
