<% if @business == current_business %>
<h1> <%= "Welcome #{@business.name}. Your profile is below."%> </h1>
<% else %>
<h1> <%= "Welcome to #{@business.name}'s profile. "%> </h1>
<% end %>


<div>
<p>Name: <%=@business.name.capitalize%></p>
<p>About Me: <%=@business.about%></p>
<p>Phone: <%=@business.phone if @business.phone%></p>

</div>
<div>
  <% if @business.events %>
    <% @business.events.each do |event|%>
    <%= link_to event.name, event_path(event) %>
    <%= event.price_description %>
    <%= event.datetime %>
    <%end%>
  <% else %>
  <%= "No Events - Create one!" %>
  <%= link_to "Create Event", business_new_event(@business) %>
  <% end %>
</div>
<div>
<% if @business == current_business %>
<%=link_to 'Edit Your Profile', edit_business_path(@business)%>
<% end %>
</div>
