<div>
  <%= flash[:message] %>
</div>

<% if @business == current_business %>
<h1> <%= "Welcome #{@business.name}. Your profile is below."%> </h1>
<% else %>
<h1> <%= "Welcome to #{@business.name}'s profile. "%> </h1>
<% end %>

<div class='col-sm-3'>
  <div>
    <p>Name: <%=@business.name.capitalize%></p>
    <p>About: <%=@business.about%></p>
    <p>Phone: <%=@business.phone if @business.phone%></p>
    <p>Neighborhood: <%=@business.neighborhood.name%></p>

  </div>
<div>
  <% if @business.events.count > 0 %>
    <% @business.events.each do |event|%>
    <div>
      <p><%= link_to event.name, event_path(event) %></p>
      <p><%= event.price_description %></p>
      <p><%= event.datetime %></p>
    </div>
    <br />
    <%end%>
  <% else %>
  <%= "No Events - Create one!" %><br />
  <%= link_to "Create Event", business_new_event_path(@business) %>
  <% end %>
    </div>
  </div>
  <div class='col-sm-9'>
    <div>
<%= month_calendar events: @business.events do |date, events| %>
  <small><%= date.strftime("%m/%d") %></small>

  <% events.each do |event| %>
    <div>
      <%= link_to event.name, event %>
    </div>
  <% end %>
<% end %>
</div>
</div>
<div><br /><br />
<% if @business == current_business %>
<%=link_to 'Edit Your Profile', edit_business_path(@business)%>
<% end %>
</div>

<div>
<% if is_logged_in? && !@business.members.include?(current_member) %>
<%= link_to "Follow #{@business.name}", follow_path(@business) %>
<% elsif is_logged_in? %>
<%= link_to "Unfollow #{@business.name}", unfollow_path(@business) %>
<% end %>
</div>
