<style>
  body {background-color: #A1FFFF}
</style>


<h2>The Events for <%= @category.name.capitalize %> are listed below</h2>

<% @events.each do |event| %>
<% event.check_end_date %>
<% event.check_capacity %>
<label>Name:  </label> <%= event.name %><br />
<label>Where: </label><%= event.location %><br />
<label>When:  </label> <%= event.datetime %><br />
<label>Deal:  </label><%= event.price_description %><br />
<label>Categories:</label><% event.categories.each do |category|  %>
<%= category.name %><% end %><br />
<%= link_to "More Details", event_path(event) %><br /><br />
<% end %><br />
