<% flash[:alert] %>


<h4>Search for an event or browse among the list below</h4>
<br />

<%= form_tag events_path, method: :get do %>
<%= label_tag "Search by Name" %>
<%= text_field_tag 'name' %>
<br />
<%= "and / or Filter by Category:" %><br />
<% Category.all.each do |category| %>
<%= label_tag category.name %>
<%= check_box_tag "categories[]", category.id  %>
<% end %>
<br />
<%= submit_tag "Search", name: nil %>
<% end %>


<br /><br />
<% if Event.all.count > @events.count && !@events.empty?  %>
<h4><%= "Results Below:" %></h4>
<% elsif @events.empty? %>
<h4><%= "No Events Match Your Search" %></h4>
<% else %>
<h4><%= "All Events:" %></h4>
<% end %>

<% @events.each do |event| %>
<% event.check_end_date %>
<% event.check_capacity %>
<label>Name:  </label> <%= event.name %><br />
<label>Where: </label><%= event.location %><br />
<label>When:  </label> <%= event.datetime %><br />
<label>Deal:  </label><%= event.price_description %><br />
<label>Categories:</label><% event.categories.each do |category|  %>
<%= category.name %><% end %>
<%= link_to "More Details", event_path(event) %><br /><br />
<% end %><br />
