<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %>

<%if @account%>
  <% if @account.errors.any? %>
  <div id='signup-errors'>
    <%@account.errors.full_messages.each do |message| %>
    <p><%= message %></p>
    <% end %>
    </div>
    <% end %>
  <% end %>

      <%= render 'layouts/signup' %>
<div>
  <%= "Or if you are a business, please sign in or log in at the business homepage" %>
  <%= link_to "Business Page", new_business_account_path %>
</div>
