<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %>

<%if @account%>
<% if @account.errors.any? %>
<div id='signup-errors'>
  <%@account.errors.full_messages.each do |message| %>
  <p><%= message %></p>
  <% end %>
</div>
<% end %>
<% end %>

<%= render 'layouts/signup' %>
<%= render 'layouts/bus_signup' %>
<%= render 'layouts/login' %>
<%= render 'layouts/bus_login' %>
<div class="jumbotron">
  <h1 class="display-3" style='text-align:center;'>Welcome!</h1>
</div>
