<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><strong>nbr</strong><span style="color:rgb(255, 90, 95); padding-left: 2px">hood</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <% if is_logged_in? || business_logged_in?%>
        <li <%= 'class=active' if request.path.split('/')[1] == 'events' %>><a href="/events">Events</a></li>
        <li <%= 'class=active' if request.path.split('/')[1] == 'members' %>><a href="/members">Members</a></li>
        <li <%= 'class=active' if request.path.split('/')[1] == 'businesses' %>><a href="/businesses">Businesses</a></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <% if is_logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=Account.find_by(id: session[:account_id]).email%><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><% if current_member %>
              <a href="/members/<%= current_member.id%>">Profile</a></li>
              <% end %>
              <li><a href="/events/favorites">My Events</a></li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to "Logout", logout_path %>
              </li>
              <!-- <li></li> -->
            </ul>
          </li>
          <% elsif business_logged_in? %>
          <li><a href="/events/new" data-turbolinks="false">Create an Event</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=BusinessAccount.find_by(id: session[:business_account_id]).email%><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><% if current_business %>
                <a href="/businesses/<%= current_business.id%>">Business Events</a></li>
                <% end %>
                <li><a href="/events/followers">My Followers</a></li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to "Logout", logout_path %>
                </li>
              </ul>
            </li>
            <% else %>
            <li><a href="#" data-toggle="modal" data-target=".bd-signup-modal-sm"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#" data-toggle="modal" data-target=".bd-login-modal-sm"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
