<% if @member.errors.any? %>
<div id='update-errors'>
  <%@member.errors.full_messages.each do |message| %>
  <p><%= message %></p>
  <% end %>
</div>
<% end %>




<% if @member == current_member %>
<h1> <%= "Welcome #{@member.name}. Your profile is below."%> </h1>
<% else %>
<h1> <%= "Welcome to #{@member.name}'s profile. "%> </h1>
<% end %>
<div class='col-sm-3'>
  <div>

    <p>Name: <%=@member.name.capitalize%></p>
    <p>About: <%=@member.about%></p>
    <p>Gender: <%=@member.gender.capitalize if @member.gender%></p>
    <p>Age: <%=@member.age%></p>
    <p>Relationship Status: <%=@member.relationship_status.capitalize if @member.relationship_status%></p>
    <p>Hometown State: <%=@member.hometown_state%></p>
    <p>Phone Number: <%=@member.phone%></p>
    <p>Neighborhood: <%=@member.neighborhood.name%></p>
    <p>Follows: <%if @member.businesses.count > 0 %>
      <% @member.businesses.each do |business| %></p>
      <%= link_to business.name.capitalize, business_path(business)  %><br />
      <% if @member == current_member || business.members.include?(current_member) %>
      <%= link_to "Unfollow #{business.name.capitalize}", unfollow_path(business) %>
      <% elsif !business.members.include?(current_member) %>
      <%= link_to "Follow #{business.name.capitalize}", follow_path(business) %>
      <% end %>
      <% end %>
      <% else %>
      <%= "#{@member.name} does not follow any businesses yet" %>
      <% end %>



    </div>
    <% @member.rsvps.each do |rsvp|%><br />
    <b><%= rsvp.event.name %></b>
    <%= rsvp.event.description %><br />
    <%= rsvp.event.datetime %><br />
    <%= rsvp.event.price_description %><br />
    <%= link_to "More Details", event_path(rsvp.event) %><br />
    <% if @member != current_member && rsvp.event.members.include?(@member) %>
    <%= link_to "Cancel", cancel_rsvp_path(rsvp.event, rsvp) %>
    <% elsif @member != current_member %>
    <%= "Or to RSVP: " %>
    <%= link_to "RSVP", rsvp_path(rsvp.event) %>
    <% elsif @member == current_member %>
    <%= link_to "Cancel", cancel_rsvp_path(rsvp.event, rsvp) %>
    <%end%>
    <% end %>
    <br /><br />

  </div>
  <div class='col-sm-9'>
    <%= member_rsvps_heading %>

    <%= month_calendar events: @member.rsvps do |date, rsvps| %>
    <small><%= date.strftime("%m/%d") %></small>

    <% rsvps.each do |rsvp| %>
    <div>
      <%= link_to rsvp.event.name, rsvp.event %>
    </div>
    <% end %>
    <% end %>
  </div>

  <br />

  <div>
    <% if @member == current_member %>
    <%=link_to 'Edit Your Profile', edit_member_path(current_member)%>
    <% end %>
  </div>
</div>
